{% extends 'base.html' %}

{% block jumbotron %}
  <div class="row">
    <div class="col-md-4">
      <h2>Option #1: Stay On-Site</h2>
      <p>Camp for free on the FloydFest site! Or, if you want to stay on site but don't want to camp, RVs are welcome; we can provide power but not water to RVs.</p>
    </div>
    <div class="col-md-4">
      <h2>Option #2: <a href="http://www.hotelfloyd.com/" target="_blank">Hotel Floyd</a></h2>
      <p>300 Rick Lewis Way<br />Floyd, VA 24091</p>
   </div>
    <div class="col-md-4">
      <h2>Option #3: <a href="http://www.woodberryinn.com/" target="_blank">Woodberry Inn</a></h2>
      <p>182 Woodberry Rd SW<br />Meadows of Dan, VA 24120</p>
    </div>
  </div>  
{% endblock %}
