{% extends 'base.html' %}

{% block body %}
  <div class="row">
    <div class="col-md-4">
      <h2>Door #1: Camping</h2>
      <p>Camp for free on the FloydFest site!</p>
    </div>
    <div class="col-md-4">
      <h2>Door #2: <a href="http://www.hotelfloyd.com/" target="_blank">Hotel Floyd</a></h2>
      <p>300 Rick Lewis Way<br />Floyd, VA 24091</p>
   </div>
    <div class="col-md-4">
      <h2>Door #3: <a href="http://www.woodberryinn.com/" target="_blank">Woodberry Inn</a></h2>
      <p>182 Woodberry Rd SW<br />Meadows of Dan, VA 24120</p>
    </div>
  </div>
{% endblock %}
