{% extends 'base.html' %}

{% block jumbotron %}

<div class="row"><strong>Schedule:</strong>
<ul>
	<li><strong>Saturday, August 20</strong></li>
	<li><strong>5pm:</strong> ceremony at the workshop porch</li>
	<li><strong>5:30pm:</strong> cocktail hour in the beer garden</li>
	<li><strong>6:00pm:</strong> reception catered by Feast &amp; Company</li>
	<li><strong>8:00pm:</strong> dance &amp; party &amp; other stuff</li>
</ul></div>

<div class="row"><strong>Location:</strong> FloydFest site
<br /><a href="https://www.google.com/maps/place/Rock+Castle+Gorge+Rd,+Floyd,+VA+24091/@36.8000703,-80.3778297,17z/data=!3m1!4b1!4m2!3m1!1s0x885273e78afea5e1:0xc91742476100af46" target="_blank">894 Rock Castle Gorge Road
<br />Floyd, VA 24091</a></div>

{% endblock %}
