{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Meghan + Ben</title>
		<meta name="description" content="Ben + Meghan - August 20, 2016 - Floyd, VA">		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"></link>
	    <link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}"></link>
	    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"></link>
	    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"></link>
		<link rel="shortcut icon" href="#">
	</head>

	<body>

		<div class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Ben + Meghan</a>
				</div>
				
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#home" class="anchorLink anchorLinkHome">Home</a></li>
						<li><a href="#wedding" class="anchorLink anchorLinkWedding">Wedding</a></li>
						<li><a href="#rsvp" class="anchorLink anchorLinkRsvp">RSVP</a></li>
						<li><a href="#photos" class="anchorLink anchorLinkPhotos">Photos</a></li>
						<li><a href="#registry" class="anchorLink anchorLinkRegistry">Registry</a></li>
					</ul>
				</nav>

			</div>
		</div>

		<a name="home" id="home"></a>

		<div class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-7">
						<div class="main-invite">
							<h1>August 20, 2016</h1>
							<p>Ben + Meghan</p>
							<p>Floyd, VA</p>
						</div>
					</div>
				</div>
				<a name="wedding" id="wedding"></a>
			</div>
		</div>

		<div class="wedding">
			<div class="container">
						<div class="title">
							<h3>Wedding</h3>
						</div>
						<div class="bor"></div>
						
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="well">
							<h3>The Event</h3>
							<p>The wedding ceremony will take place at 5pm at the <a href="https://www.google.com/maps/place/Rock+Castle+Gorge+Rd,+Floyd,+VA+24091/@36.8000703,-80.3778297,17z/data=!3m1!4b1!4m2!3m1!1s0x885273e78afea5e1:0xc91742476100af46" target="_blank">Floydfest site</a>, followed by dinner and dancing. This is an adults-only event; please plan accordingly.
							<hr />
							<h3>The Location</h3>
							<p><a href="https://www.google.com/maps/place/Rock+Castle+Gorge+Rd,+Floyd,+VA+24091/@36.8000703,-80.3778297,17z/data=!3m1!4b1!4m2!3m1!1s0x885273e78afea5e1:0xc91742476100af46">FloydFest</a>
							   <br />894 Rock Castle Gorge Road
							   <br />Floyd, VA 24091
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="well">
							<h3>The Weekend</h3>
							<p>The <a href="https://www.google.com/maps/place/Rock+Castle+Gorge+Rd,+Floyd,+VA+24091/@36.8000703,-80.3778297,17z/data=!3m1!4b1!4m2!3m1!1s0x885273e78afea5e1:0xc91742476100af46" target="_blank">Floydfest site</a> will be open from Friday, August 19 to Sunday, August 21 to guests who are camping, and we encourage our guests to bring a tent or RV and make a weekend of it.</p>
							<p>Dinner will be served on Friday night for those staying on-site. You're on your own for late night snacks and any other meals; we recommend Dino's in Willis and Dogtown Roadhouse in Floyd.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="well">
							<h3>Local Accomodations</h3>
							<p>For those not staying on-site, the following accommodations are convenient to the venue.</p>
							<p><a href="http://www.hotelfloyd.com/" target="_blank">Hotel Floyd</a>
							   <br />300 Rick Lewis Way
							   <br />Floyd, VA 24091
							   <br /><a href="https://www.google.com/maps/place/Hotel+Floyd/@36.9106072,-80.3194256,17z/data=!3m1!4b1!4m2!3m1!1s0x884d882db913c609:0x11a364cf8e1ad452" target="_blank">Get Directions</a>
							</p>
							<p><a href="http://www.woodberryinn.com/" target="_blank">Woodbury Inn</a>
							   <br />182 Woodberry Rd SW
							   <br />Meadows of Dan, VA 24120
							   <br /><a href="https://www.google.com/maps/place/Woodberry+Inn/@36.7739403,-80.4039997,17z/data=!3m1!4b1!4m2!3m1!1s0x88527251a1d8cf07:0xddce15feac4629e7" target="_blank">Get Directions</a>
							</p>
							
						</div>
					</div>
				</div>
				<a name="rsvp" id="rsvp"></a>
				<hr>
			</div>
		</div>

		<div class="rsvp" ng-app="rsvpForm" ng-controller="rsvpFormCtrl">
			<div class="container">
				<div class="title">
					<h3>RSVP</h3>
				</div>
				<div class="bor"></div>
				
				<div class="row">
					<div class="col-md-3 col-sm-3">&nbsp;</div>
					<div class="col-md-6 col-sm-6">
						<div class="well" ng-show="form_state == 0">
							<div class="alert alert-danger" role="alert" ng-show="error_text" ng-bind="error_text"></div>
							<p>Turn over your invitation; there is an RSVP code there.</p>
							<form class="form-horizontal" role="form" novalidate>
								{% csrf_token %}
							    <div class="form-group">
									<label class="control-form col-md-3" for="name">RSVP Code</label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="rsvp_code" ng-model="rsvp_code">
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-9 col-md-offset-3">
									<input type="button" class="btn btn-danger" value="RSVP" ng-click="getRsvp()">
									</div>
								</div>
							</form>
						</div>
						<div class="well" ng-show="form_state == 2">
							<div class="alert alert-danger" role="alert" ng-show="error_text" ng-bind="error_text"></div>
							<form class="form-horizontal" role="form" novalidate>
								{% csrf_token %}
							    <div class="form-group">
									<label class="control-form col-md-3" for="name">Name</label>
									<div class="col-md-9" ng-bind="rsvp.name"></div>
								</div>
							    <div class="form-group">
									<label class="control-form col-md-3" for="name">Party Size</label>
									<div class="col-md-9"><span ng-bind="rsvp.party_size"></span> (This is an adults-only event; please plan accordingly)</div>
								</div>
								<div class="form-group">
									<label class="control-form col-md-3" for="email">Email</label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="email" ng-model="rsvp.email">
									</div>
								</div>
								<div class="form-group">
									<label class="control-form col-md-9" for="attending">Will your party be attending the wedding?</label>
									<div class="col-md-3">
										<input type="checkbox" id="attending" ng-model="rsvp.attending">
									</div>
								</div>
								<div class="form-group">
									<label class="control-form col-md-9" for="staying_onsite">Will your party be staying on site?</label>
									<div class="col-md-3">
										<input type="checkbox" id="staying_onsite" ng-model="rsvp.staying_onsite">
									</div>
								</div>
								<div class="form-group" ng-show="rsvp.staying_onsite">
									<label class="control-form col-md-9" for="staying_friday">Will your party be staying on site Friday night?</label>
									<div class="col-md-3">
										<input type="checkbox" id="staying_friday" ng-model="rsvp.staying_friday">
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-9 col-md-offset-3">
									<input type="button" class="btn btn-danger" value="RSVP" ng-click="submitRsvp()">
									</div>
								</div>
							</form>
						</div>
						<div class="well" ng-show="form_state == 3">
							<p ng-show="rsvp.attending">Alright, we've got you down! Looking forward to seeing you in Floyd!</p>
							<p ng-show="!rsvp.attending">Sorry to hear you won't be able to make it!</p>
						</div>
						<div class="well" ng-show="form_state == 1">
							<p>workinonit!</p>
						</div>
					</div>
				</div>
				<a name="photos" id="photos"></a>
				<hr>
			</div>
		</div>
		
		<div class="photos">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h3>Photos</h3>
						</div>
						
						<div class="bor"></div>
                  
						<div class="flexslider">
						  <ul class="slides">
							<li>
							  <img src="{% static 'img/carousel-fflove.png' %}" alt="" class="img-responsive" />
							</li>
							<li>
							  <img src="{% static 'img/carousel-muscatellowedding.png' %}" alt="" class="img-responsive" />
							</li>
							<li>
							  <img src="{% static 'img/carousel-lisbon.png' %}" alt="" class="img-responsive" />
							</li>
						  </ul>
						</div>
                  
					</div>
					
				</div>
				<a name="registry" id="registry"></a>
				<hr>
				
			</div>
		</div>

		<div class="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h3>Registry</h3>
						</div>
						<div class="bor"></div>
						
						<p class="about-para text-center">Registry information coming soon!</p>
						<div class="bor"></div>
					</div>
				</div>
			</div>
		</div>

		<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 
		
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
		<script src="{% static 'js/jquery.anchor.js' %}"></script>
		<script src="{% static 'js/respond.min.js' %}"></script>
		<script src="{% static 'js/html5shiv.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.min.js"></script>
		<script src="{% static 'js/rsvp-form.js' %}"></script>

	</body>

</html>
