{% extends 'base.html' %}

{% load bootstrap3 %}

{% block main %}

<p><form action="" method="post" class="form">
  {% if obj.responded %}
  <h3>You have responded! You are {% if obj.attending %}attending!{% else %}not attending :({% endif %}</h3>
  {% else %}
  <h3>Ready to RSVP?</h3>
  {% endif %}
  {% csrf_token %}
  {% bootstrap_form_errors form type='non_fields' %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">RSVP</button>
  {% endbuttons %}
</form></p>

<p><strong>Schedule:</strong>
<ul>
	<li><strong>Saturday, August 20</strong></li>
	<li><strong>5pm:</strong> ceremony at the workshop porch</li>
	<li><strong>5:30pm:</strong> cocktail hour in the beer garden</li>
	<li><strong>6:00pm:</strong> reception catered by Feast &amp; Company</li>
	<li><strong>8:00pm:</strong> dance &amp; party &amp; other stuff</li>
</ul></p>

<p><strong>Location:</strong> FloydFest site
<br /><a href="https://www.google.com/maps/place/Rock+Castle+Gorge+Rd,+Floyd,+VA+24091/@36.8000703,-80.3778297,17z/data=!3m1!4b1!4m2!3m1!1s0x885273e78afea5e1:0xc91742476100af46" target="_blank">894 Rock Castle Gorge Road
<br />Floyd, VA 24091</a></p>

<p><strong>Accommodations:</strong>
<br /><strong>Option #1</strong> Camp for free on the FloydFest site! Or, if you want to stay on site but don't want to camp, RVs are welcome; we can provide power but not water to RVs.
<br /><strong>Option #2</strong> <a href="http://www.woodberryinn.com/" target="_blank">Woodberry Inn</a> (182 Woodberry Rd SW Meadows of Dan, VA 24120)</p>

<p><strong>Registry:</strong> ayyy buy me some home goods n shit lmao</p>

{% endblock %}
