{% extends 'base.html' %}

{% load bootstrap3 staticfiles %}

{% block jumbotron %}

<div class="row">
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/greg.jpg' %}" alt="Greg Papillon" width="140" height="140">
		<h2>Greg Papillon</h2>
		<!-- <p>Best Man &amp; Older Brother of the Groom</p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/colin.jpg' %}" alt="Colin Frawley" width="140" height="140">
		<h2>Colin Frawley</h2>
		<!-- <p>Groomsman &amp; Friend of the Groom</p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/andrew.jpg' %}" alt="Andrew Widdowson" width="140" height="140">
		<h2>Andrew Widdowson</h2>
		<!-- <p>Groomsman &amp; Friend of the Groom</p> -->
    </div><!-- /.col-lg-4 -->
</div>
<div class="row">
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/donovan.jpg' %}" alt="Donovan Waryold" width="140" height="140">
		<h2>Donovan Waryold</h2>
		<!-- <p>Groomsman &amp; Brother of the Bride</p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/lisa.jpg' %}" alt="Lisa Hoang" width="140" height="140">
		<h2>Lisa Hoang</h2>
		<!-- <p>Lisa</p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/morgan.jpg' %}" alt="Morgan Carter" width="140" height="140">
		<h2>Morgan Carter</h2>
		<!-- <p>Lisa</p> -->
    </div><!-- /.col-lg-4 -->
</div>
<div class="row">
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/john.jpg' %}" alt="John Blum" width="140" height="140">
		<h2>John Blum</h2>
		<!-- <p>Groomsman &amp; Brother of the Bride</p> -->
    </div><!-- /.col-lg-4 -->
</div>

{% endblock %}
