{% extends 'base.html' %}

{% load bootstrap3 staticfiles %}

{% block jumbotron %}

<div class="row">
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/cynda.png' %}" alt="Cynda Seeman" width="140" height="140">
		<h2>Cynda Seeman</h2>
    </div>
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/greg.jpg' %}" alt="Greg Papillon" width="140" height="140">
		<h2>Greg Papillon</h2>
    </div>
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/john.jpg' %}" alt="John Blum" width="140" height="140">
		<h2>John Blum</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/morgan.jpg' %}" alt="Morgan Carter" width="140" height="140">
		<h2>Morgan Carter</h2>
    </div>
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/colin.jpg' %}" alt="Colin Frawley" width="140" height="140">
		<h2>Colin Frawley</h2>
    </div>
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/lisa.jpg' %}" alt="Lisa Hoang" width="140" height="140">
		<h2>Lisa Hoang</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/aislinn.png' %}" alt="Aislinn Kerr" width="140" height="140">
		<h2>Aislinn Kerr</h2>
    </div>
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/killian.png' %}" alt="Killian Kerr" width="140" height="140">
		<h2>Killian Kerr</h2>
    </div>
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/lauren.png' %}" alt="Lauren Panny" width="140" height="140">
		<h2>Lauren Panny</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/callie.png' %}" alt="Callie Prickett" width="140" height="140">
		<h2>Callie Prickett</h2>
    </div>
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/donovan.jpg' %}" alt="Donovan Waryold" width="140" height="140">
		<h2>Donovan Waryold</h2>
    </div>
    <div class="col-lg-4">
		<img class="img-circle" src="{% static 'img/andrew.jpg' %}" alt="Andrew Widdowson" width="140" height="140">
		<h2>Andrew Widdowson</h2>
    </div>
</div>

{% endblock %}
