{% extends 'base.html' %}

{% load bootstrap3 staticfiles %}

{% block jumbotron %}

<div class="row wedding-party">
    <div class="col-xs-4" data-toggle="modal" data-target="#modal-cynda">
        <img class="img-circle" src="{% static 'img/cynda.png' %}" alt="Cynda Seeman" width="140" height="140">
        <h3>Cynda Seeman</h3>
    </div>
    <div class="modal fade" id="modal-cynda" tabindex="-1" role="dialog" aria-labelledby="modalCyndaLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalCyndaLabel">Cynda Seeman</h4>
          </div>
          <div class="modal-body">
            <p><strong>Maid of Honor</strong></p>
            <p><strong>Favorite Color:</strong> Magenta</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
        <img class="img-circle" src="{% static 'img/greg.jpg' %}" alt="Greg Papillon" width="140" height="140">
        <h3>Greg Papillon</h3>
    </div>
    <div class="col-xs-4">
        <img class="img-circle" src="{% static 'img/john.jpg' %}" alt="John Blum" width="140" height="140">
        <h3>John Blum</h3>
    </div>
    <div class="col-xs-4">
        <img class="img-circle" src="{% static 'img/morgan.jpg' %}" alt="Morgan Carter" width="140" height="140">
        <h3>Morgan Carter</h3>
    </div>
    <div class="col-xs-4">
        <img class="img-circle" src="{% static 'img/colin.jpg' %}" alt="Colin Frawley" width="140" height="140">
        <h3>Colin Frawley</h3>
    </div>
    <div class="col-xs-4">
        <img class="img-circle" src="{% static 'img/lisa.jpg' %}" alt="Lisa Hoang" width="140" height="140">
        <h3>Lisa Hoang</h3>
    </div>
    <div class="col-xs-4">
        <img class="img-circle" src="{% static 'img/aislinn.png' %}" alt="Aislinn Kerr" width="140" height="140">
        <h3>Aislinn Kerr</h3>
    </div>
    <div class="col-xs-4">
        <img class="img-circle" src="{% static 'img/killian.png' %}" alt="Killian Kerr" width="140" height="140">
        <h3>Killian Kerr</h3>
    </div>
    <div class="col-xs-4">
        <img class="img-circle" src="{% static 'img/lauren.png' %}" alt="Lauren Panny" width="140" height="140">
        <h3>Lauren Panny</h3>
    </div>
    <div class="col-xs-4">
        <img class="img-circle" src="{% static 'img/callie.png' %}" alt="Callie Prickett" width="140" height="140">
        <h3>Callie Prickett</h3>
    </div>
    <div class="col-xs-4">
        <img class="img-circle" src="{% static 'img/donovan.jpg' %}" alt="Donovan Waryold" width="140" height="140">
        <h3>Donovan Waryold</h3>
    </div>
    <div class="col-xs-4">
        <img class="img-circle" src="{% static 'img/andrew.jpg' %}" alt="Andrew Widdowson" width="140" height="140">
        <h3>Andrew Widdowson</h3>
    </div>
</div>

{% endblock %}
